body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  background-image: linear-gradient(to bottom, #05421f, green);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.loginTest {
  position: absolute;
  top: 10vh;
}
.logStatus {
  position: absolute;
  top: 15vh;
}
.logoutPopup, .wrong-email,.signup-success,.pass-not-match {
  border: 20px;
  border-style: solid;
  border-color: #31a967;
  border-radius: 4px;
  max-width: 100%;
  text-align: justify;
  background-color: #31a967af;
}
.popup-close-button {
  background-color: rgb(224, 153, 153);
  color: white;
  float: right;
  position: relative;
  right: 0%;
}
.yes-no-button{
  background-color: #05421f;
  color: white;
}

