.container, .login-form, .signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


label {
  text-align: left;
  padding: 10px 0;
}

.login-input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.login-button {
  margin-top: 15px;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black
}

.link-btn {
  margin-top: 15px;
  border:none;
  background: none;
  color: white;
  text-decoration: underline;
}
