.searchPage {
  color: #ffffff;
  margin-left: 10px;
}

table, th, td {
  border: 1px solid black;
  margin-top: 16vh;
}

.div {
  height: 1000px;
}

.tableElement {
  background-color: rgb(0, 76, 0);
}
.tableElement:hover {
  background-color: rgb(0, 142, 0);
}
.tableElement:active {
  background-color: rgb(65, 76, 65);
}