.searchPage {
  color: #ffffff;
  margin-left: 50px;
}

.modal {
  z-index: 1;
}

table, th, td {
  border: 1px solid black;
  margin-top: 50px;
}

.div {
  height: 1000px;
}

.button {
  margin-top: 20px;
}